header {
    padding: 20px;
    background-color: rgb(78, 133, 246);
    margin-bottom: 10px;
    letter-spacing: 1.5px;
}

h1 {
    color: white;
}

.current-user {
    text-align: right;
    color: white;
    font-weight: bold;
}

.button-login {
  border: none;
  /* color: white; */
  font-size: 16px;
  text-align: right;
  border: none;
}

